body {
  background-color: #F2F2F2;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  padding: 3px;
  margin: 3px;;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

img {
  grid-area: image;
  height: 400px;
  width: 400px;
  justify-self: center;
}

button {
  grid-area: back;
}

#grass li {
  background-color: green;
}

#fire li {
  background-color: rgb(243, 70, 7);
}

#water li {
  background-color: rgb(0, 102, 255);
}

#starter-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#selected-pokemon {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
  ". name ."
  ". image ."
  ". stats ."
  ". back .";
}

#selected-pokemon h2 {
  grid-area: name;
}

#pokemon-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: stats;
  text-align: center;
}

#grass li:hover {
  background-color: #5CFF85;
  color: #075410;
}

#fire li:hover {
  background-color: #FFA947;
  color: #2E2E2E;
}

#water li:hover {
  background-color: #7AC1FF;
  color: #2E2E2E;
}

#water li,
#fire li,
#grass li {
  cursor: pointer;
}