h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  padding: 3px;
  margin: 3px;;
  color: white;
  border-radius: 10px;
  text-align: center;
}

#grass li {
  background-color: green;
}

#fire li {
  background-color: rgb(243, 70, 7);
}

#water li {
  background-color: rgb(0, 102, 255);
}

#starter-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}